<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit embedding calculation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
</head>
<body>
<div class="ui grid container">
    <div class="ui row">
        <h1>Welcome</h1>
    </div>
</div>
<script type="application/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='semantic.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>